.contact-form-container {
  .header {
    .my-email-container {
      position: relative;
      border-color: white;
    }
    .my-email-container:hover::after {
      content: "\F759";
      font-family: "Bootstrap-icons";
      position: absolute;
      top: -5px;
      right: 4px;

      font-size: 14px;
    }

    .my-email-container.isCopied::after {
      display: inline;
      content: "Copied";
      font-family: "Bootstrap-icons";
      position: absolute;
      top: -5px;
      right: 4px;
      color: #03a842;
      font-size: 12px;
    }

    .my-email-container.isCopied:hover::after {
      font-size: 12px;
    }
  }
  .body {
    display: block;
    max-width: 35rem;
    margin: 0 auto;

    .form {
      transform: perspective(2000px) translate3d(0px, -66px, 198px)
        rotateX(-55deg) scale3d(0.86, 0.75, 1) translateY(50px);
      border-radius: 5px;
      will-change: transform;
      transition: 0.4s ease-in-out transform;

      padding: 1rem;

      border-radius: 20px;

      &:hover {
        transform: scale3d(1, 1, 1);
        box-shadow: 1px 1px 10px rgb(255, 255, 255);
        border-radius: 20px;
      }
    }

    .form:focus-within {
      transform: scale3d(1, 1, 1);
      border-radius: 20px;
      box-shadow: 1px 1px 10px rgb(255, 255, 255);
    }
  }
}

html.light {
  .form {
    box-shadow: 1px 1px 10px rgb(77, 76, 76);
  }
  .form-modal {
    .label-group {
    }
    .description,
    .label-group,
    .title {
      color: white;
    }
  }
}
html.dark {
  .form {
    box-shadow: 1px 1px 10px rgb(180, 177, 177);
  }
  .form:focus-within {
    transform: scale3d(1, 1, 1);
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-radius: 20px;
  }

  .my-email-container:hover::after {
    color: #eee;
  }
}
