.what-started-container {
  display: flex;
  gap: 1rem;
  justify-content: center;

  @media (max-width: 450px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .dropdown-list.inActive {
    display: none;
  }

  .dropdown-list.active {
    display: block;
    position: absolute;
    z-index: 22;
    background: var(---background-color);

    li:hover {
      background-color: #ccc;
      cursor: pointer;
    }
  }

  .dropdown-current-value {
    .icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
    .icon.inActive::after,
    .icon.active::after {
      font-family: "Bootstrap-icons";
      color: #ccc;
    }
    .icon.inActive::after {
      content: "\F229";
    }
    .icon.active::after {
      content: "\F235";
    }
  }
}
