.add-experience-modal-container {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 999;
  transform: translate(-50%);

  width: 100%;

  @media (min-width: 760px) {
    width: 40rem;
  }
  .add-experience-modal-inner {
    display: block;
  }
}
