.add-content-code-container {
  display: block;
  margin: 20px auto;
  max-width: 52rem;

  .add-content-code {
    display: block;
    // background-color: #ffff;
    border-radius: 10px;
    // color: #fff;
  }
}
