.experience-container {
  display: block;

  .experience-inner {
    display: block;

    ul {
      display: grid;
      max-width: 48rem;
      grid-template-columns: 100%;
      margin: 0 auto;
      gap: 1rem;
      @media (min-width: 200px) {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      }

      li {
        display: block;
        text-align: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 0.5rem;
          padding-block: 1rem;
          background-color: #0aabd3b0;
          box-shadow: 0 0 8px #ffffff;
          border-radius: 22px;
          font-size: 16px;
          word-break: break-all;
          border: 2px solid #fff;

          @media (min-width: 200px) {
            padding-block: 4rem;
            font-size: 22px;
          }
        }
      }
      @media (min-width: 500px) {
        li:nth-child(even) {
          transition: transform 1s;
          transform: rotateY(50deg);
          backface-visibility: hidden;
          transform-style: preserve-3d;
        }
        li:nth-child(odd) {
          transition: transform 1s;
          transform: rotateY(50deg);
          backface-visibility: hidden;
          transform-style: preserve-3d;
        }
        li:nth-child(even):hover {
          transition: transform 1.5s;
          transform-origin: left right;
          transform-style: preserve-3d;
          transform: rotateY(0);
        }
        li:nth-child(odd):hover {
          transition: transform 1.5s;
          transform-origin: right left;
          transform-style: preserve-3d;
          transform: rotateY(0);
        }
      }
    }
  }
}
