.main-content-container {
  display: block;

  .main-content-inner {
    display: block;
    border: 1px solid;
    border-color: var(---border-color);
    padding: 10px;
    border-radius: 12px;

    table,
    thead {
      display: block;
      width: 100%;
    }

    .content-a {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      align-items: center;

      gap: 1rem;

      .title {
        font-weight: 600;
        text-align: center;
      }
      .content {
        text-align: center;
      }
    }
  }
}
