@tailwind base;
@tailwind components;
@tailwind utilities;

.chakra-ui-dark :host:not([data-theme]),
.chakra-ui-dark :root:not([data-theme]),
.chakra-ui-dark {
  background: unset;
  color: unset;
}
:root {
  --lh: 1.4rem;
}

:root.light {
  ---background-color: #e7e7e7;
  ---background-div-color: #000;
  ---text-color: #000;
  ---text-div-color: #fff;
  ---border-light-color: #000;
  ---border-color: #fff;
  ---text-version: #555555;
}

:root.dark {
  ---background-color: #1b2538;
  ---background-div-color: #fff;
  ---text-color: #fff;
  ---text-div-color: #000;
  ---border-light-color: #000;
  ---border-color: #fff;
  ---text-version: #d8d8d8;
}

// :root[data-darkreader-scheme="dark"] {
//   ---background-div-color: #dddddd;
//   ---text-color: #fff;
//   ---text-div-color: #000;
//   ---border-color: #000;
// }

// :root[data-darkreader-scheme="dimmed"] {
//   ---background-div-color: #dddddd;
//   ---text-div-color: #000000;
//   ---text-color: #fff;
// }

html.light {
  background: var(---background-color);
  color: var(---text-color);
  border-color: var(---border-color);
}
html.dark {
  background: var(---background-color);
  color: var(---text-color);
  border-color: var(---border-color);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 96rem;
  margin: 0 auto;
  min-height: 100vh;

  .footer-container {
    margin-top: auto;
  }
}

html.light {
  ::-webkit-scrollbar {
    overflow: auto;
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    overflow: auto;
    background: #000000;
    border-radius: 20px;
  }
}

html.dark {
  ::-webkit-scrollbar {
    overflow: auto;
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #000000;
  }

  ::-webkit-scrollbar-thumb {
    overflow: auto;
    background: #ffffff;
    border-radius: 20px;
  }
}
