.main.root {
  display: block;
  position: relative;
  margin: 20px 0;

  @media (min-width: 400px) and (max-width: 539rem) {
    margin: 10px;
  }
  @media (min-width: 540px) and (max-width: 96rem) {
    margin: 20px;
  }
}
