.main.root:has(.main-content-container) {
  display: flex;
  flex-direction: column;

  .main-content-container {
    flex: 1;
  }
}
.main-content-container {
  display: block;
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  .main-content-inner {
    flex: 1;
  }
  .main-content-inner {
    display: flex;
    flex-direction: column;

    .body-ul {
      flex: 1;
    }

    .header-ul {
      display: grid;
      grid-template-columns: 100px repeat(auto-fit, minmax(100px, 1fr));
      gap: 0.2rem;
      text-align: center;
      padding: 0.5rem 10px;

      li {
        font-weight: 600;
        font-size: 18px;
        // padding: 0.5rem 10px;
        width: 100%;
        margin: 0 auto;
      }

      li:first-child {
        max-width: fit-content;
      }

      @media (max-width: 720px) {
        display: none;
      }
    }

    .body-ul {
      display: block;
      height: 100%;
      min-height: 100%;
      a {
        // display: flex;
        display: grid;
        grid-template-columns: 100px repeat(auto-fit, minmax(100px, 1fr));

        gap: 0.2rem;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        padding: 0.5rem 10px;
        border: 1px solid var(---border-color);
        border-radius: 12px;
        word-break: break-all;

        @media (max-width: 450px) {
          gap: 10px;
        }

        div:first-child,
        div:last-child {
          max-width: fit-content;
          margin: 0 auto;

          @media (max-width: 720px) {
            max-width: unset;
            margin: unset;
          }
        }

        .content-body-header {
          display: none;

          @media (max-width: 720px) {
            display: block;
            font-weight: 600;
          }
        }
      }

      @media (max-width: 720px) {
        .order {
          display: flex;
          justify-content: space-between;
        }
        .order:before {
          font-weight: 700;
        }
        .order:first-child:before {
          content: "nrCrt:";
        }
        .order:nth-child(2):before {
          content: "Language Type:";
        }
        div:nth-child(3):before {
          content: "Title:";
        }
        div:nth-child(4):before {
          content: "Description:";
        }
        div:nth-child(5):before {
          content: "Version Code:";
        }
        div:nth-child(6):before {
          content: "Created at:";
        }
      }

      @media (max-width: 450px) {
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      @media (max-width: 720px) {
        a {
          display: grid;
          grid-template-columns: 100%;
          width: 100%;
        }
        .content-group {
          display: grid;
          grid-template-columns: 50% 50%;
          width: 100%;
        }

        div:first-child {
          max-width: unset;
          margin: unset;
        }
      }
      @media (max-width: 499px) {
        li {
          display: block;
        }

        .content-group {
          display: block;
          padding-bottom: 10px;
        }
      }
    }
  }
}
