.orderBy-container {
  @media (max-width: 420px) {
    display: block;
    width: 100%;
  }
  .orderBy {
    display: block;
    width: 160px;
    max-width: 100%;
    color: #000;

    @media (max-width: 420px) {
      display: block;
      width: 100%;
    }
    .currentValue {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      background-color: #fff;
      border: 1px solid var(---border-color);
      text-transform: capitalize;

      cursor: pointer;
      position: relative;

      span {
        margin: 0 auto;
      }
    }

    // .currentValue.isActive {
    //   border-bottom: 0;
    //   border-bottom-left-radius: 0;
    //   border-bottom-right-radius: 0;

    //   &:after {
    //     content: "\F235";
    //     font-family: "Bootstrap-icons";
    //   }
    // }

    // ul.isNotActive {
    //   display: none;
    // }

    // ul.isActive {
    //   display: block;
    //   position: absolute;
    //   text-align: center;
    //   background-color: #fff;
    //   top: 40px;
    //   width: 100%;
    //   padding: 0.5rem 0.25rem;
    //   border-radius: 12px;
    //   border: 1px solid var(---border-color);
    //   border-top-left-radius: 0;
    //   border-top-right-radius: 0;
    //   text-transform: capitalize;
    //   cursor: pointer;

    //   .li-order {
    //     padding: 0.25rem;

    //     a {
    //       padding: 0.5rem;
    //     }
    //   }
    //   .li-order.active {
    //     background-color: #75757581;
    //     border-radius: 10px;
    //     color: #fff;
    //   }
    // }
  }
}
